[Desktop Entry]
Type=Application
Exec=foot
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=foot;shell;prompt;command;commandline;
Name=Terminal
GenericName=Foot
Comment=A wayland native terminal emulator
